*{
	padding: 0px;
	margin : 0px;
}
@font-face{
	font-family: 'CaviarDreams';
	src: url('font/CaviarDreams.ttf');
}
.container-header{
	background-color: white;
	width: 100%;
	height: 200px;
	float: left;
	text-align: center;
}
.container-logo{
	padding-top: 1%;
	width: 100%;
	height: 75px;
	float: left;
}
.Loco{
	width: 100%;
	height: 100px;
	float: left;
	background-color: white;
}
.mister{
	font-family: "CaviarDreams", sans-serif;
	float: left;
	width: 100%;
	height: 50px;
	font-size: 60px;
	color: #99ccff;
}
.container-navigationbar{
	width: 100%;
	height: 40px;
	float: left;
}
.class-container-dropdown1{
	width: 25%;
	float :left;
	height: 32px;
	background-color: #99ccff;
	border-right: 2px solid white;
}
.buttondrop1 {
	width: 100%;
    background-color: #99ccff;
    color: white;
  	margin: 0px auto;
    font-size: 20px;
}
.buttondrop1 a{
	text-decoration: none;
    color: white;
}
.drop1{
	width: 100%;
	text-align: center;
}
.content-drpdwn {
	width: 100%;
    display: none;
    position: absolute;
    background-color: #e6f3ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.container-dropdown2{
	width: 24.8%;
	float :left;
	height: 32px;
	background-color: #99ccff;
	border-right: 2px solid white;

}
.buttondrop2 {
	width: 100%;
    background-color: #99ccff;
    color: white;
  	margin: 0px auto;
    font-size: 20px;
    border: none;
}
.drop2{
    position: relative;
    display: inline-block;
	width: 100%;
	text-align: center;
}
.content-drpdwn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.content-drpdwn a:hover {
	background-color: #e6f3ff;
}
.drop2:hover .content-drpdwn {
	display: block;
}
.drop2:hover .buttondrop2 {
	background-color: #99ccff;
}
.container-buttondrop{
	width: 100%;
	height: 50px;
	background-color: #99ccff;
}
.class-container-dropdown3{
	width: 24.5%;
	float :left;
	height: 32px;
	background-color: #99ccff;
	border-right: 2px solid white;
}
.buttondrop3 {
	width: 100%;
    background-color: #99ccff;
    color: white;
  	margin: 0px auto;
    font-size: 20px;
}
.buttondrop3 a{
	text-decoration: none;
    color: white;
}
.drop3{
	width: 100%;
	text-align: center;
}
.container-dropdown4{
	width: 24.5%;
	float :left;
	height: 32px;
	background-color: #99ccff;
}
.buttondrop4 {
	width: 100%;
    background-color: #99ccff;
    color: white;
  	margin: 0px auto;
    font-size: 20px;
    border: none;
}
.drop4{
    position: relative;
    display: inline-block;
	width: 100%;
	text-align: center;
}
.content-drpdwn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.content-drpdwn a:hover {
	background-color: #e6f3ff;
}
.drop4:hover .content-drpdwn {
	display: block;
}
.drop4:hover .buttondrop4 {
	background-color: #99ccff;
}